<div class="container">

    <app-sub-header [breadcrumbs]="bread"></app-sub-header>
    <div class="card">
        <div class="card-body">
            <app-lista [canListagem]="false" [buttons]="buttons"></app-lista>
            <div class="row" *ngIf="this.opcao === 'E'">
                <div class="col-5" >
                    <label>Identificador</label>
                    <input disabled class="form-control" type="text" [(ngModel)]="dados.id" placeholder="Identificador">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-5">
                    <app-select-escola (change)="loadButtons(escola)" [canInativar]="this.opcao === 'E'?true:false" [(dado)]="escola"></app-select-escola>
                </div>
                <div class="col-7">
                    <label>Nome</label>
                    <input class="form-control" type="text" [(ngModel)]="dados.nome" placeholder="Nome">
                </div>
                <div class="col-1">
                    <button (click)="gravar(dados)" class="btn btn-success btn-sm mt-4">{{opcao === 'E'?'Editar':'Salvar'}}</button>
                </div>
            </div>
        </div>
    </div>
</div>