<div class="container">
    <app-sub-header [breadcrumbs]="bread"></app-sub-header>
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Escola</h4>
            <button type="button" class="btn btn-light" (click)="modal.dismiss('Cross click')">X</button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <label>Identificador</label>
                        <input class="form-control form-control-sm" type="text" disabled [(ngModel)]="dados.id" placeholder=".form-control-sm">
                    </div>
                    <div class="col-10">
                        <label>Nome</label>
                        <input class="form-control form-control-sm" type="text" disabled [(ngModel)]="dados.nome" placeholder=".form-control-sm">
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <div class="card">
        <div class="card-body">
            <app-lista [rows]="rows" [columns]="columns" [buttons]="buttons" (ver)="verForm($event, content)" (delete)="deleteForm($event)" (editar)="editarForm($event)" (lista)="listaForm($event)"></app-lista>
        </div>
    </div>


</div>