<div class="container">

    <app-sub-header [breadcrumbs]="bread"></app-sub-header>
    <div class="card">
        <div class="card-body">
            <app-lista [canListagem]="false" [buttons]="buttons"></app-lista>
            <div class="row">
                <div class="col-4"  *ngIf="this.opcao === 'E'">
                    <label>Identificador</label>
                    <input disabled class="form-control form-control-sm" type="text" [(ngModel)]="dados.id" placeholder="Identificador">
                </div>
                <div class="col-{{this.opcao === 'E'?8:12}}">
                    <label>Nome</label>
                    <input class="form-control form-control-sm" type="text" [(ngModel)]="dados.nome" placeholder="Nome">
                </div>
                <div class="col-1">
                    <button (click)="gravar(dados)" class="btn btn-success btn-sm mt-4">{{opcao === 'E'?'Editar':'Salvar'}}</button>
                </div>
            </div>
        </div>
    </div>
</div>