<div>
    <div class="container-fluid">
        <div class="row justify-content-end">
            <div *ngIf="this.buttons.length>0">
                <button *ngFor="let button of buttons" [routerLink]="[button.link]" [queryParams]="button.query" class="btn btn-{{button.color != undefined?button.color:'primary'}} btn-sm m-1">{{button.text}}</button>
            </div>
        </div>
    </div>
    <div class="table-responsive table table-striped table-hover" *ngIf="canListagem">
        <table class="table">
            <thead *ngIf="this.rowsPaginacao.length>0">
                <tr>
                    <th scope="col" *ngFor="let column of columns">{{column.label}}</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody *ngIf="this.rowsPaginacao.length>0">
                <tr *ngFor="let row of rowsPaginacao">
                    <td *ngFor="let colum of columns">{{row[colum.key]}}</td>
                    <td class="justify-content-between" style="max-width: 120px">
                        <button *ngIf="canVer" (click)="verFuncao(row)" class="m-1 btn btn-sm btn-success"><i class="bi bi-eye"></i></button>
                        <button *ngIf="canEditar" (click)="editarFuncao(row)" class="m-1 btn-sm btn btn-primary"><i class="bi bi-pencil-square"></i></button>
                        <button *ngIf="canLista" (click)="listaFuncao(row)" class="m-1 btn btn-sm btn-warning"><i class="bi bi-arrow-down-circle"></i></button>
                        <button *ngIf="canDelete" (click)="deleteFuncao(row)" class="m-1 btn-sm btn btn-danger"><i class="bi bi-trash2"></i></button>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="this.rowsPaginacao.length==0">
                <td class="text-center">
                    Nada encontrado!</td>
            </tbody>

        </table>
        <div class="container">
            <div class="row justify-content-center">
                <nav aria-label="...">
                    <ul class="pagination pagination-sm">
                        <li  class="page-item {{i + 1 === this.numberPagina?'active':''}}" *ngFor="let item of rowsArray; let i = index" (click)="mudarPagina(i)"><a class="page-link">{{i + 1}}</a></li>

                        <!-- <li class="page-item active" aria-current="page">
                            <span class="page-link">1</span>
                        </li>
                        <li class="page-item"><a class="page-link">2</a></li>
                        <li class="page-item"><a class="page-link">3</a></li> -->
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>